@import url(https://fonts.googleapis.com/css?family=Poppins:300);
 *, *:before, *:after {
	 box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(black,black,green);
    overflow-y: scroll;
	font-family: 'Poppins', sans-serif;
	
}

.header-container {
    background-color: rgba(88, 89, 90, 0.2);
}


.titulo{
    display: grid;
    text-align: center;
 
}


.timecode {
    font-size: 10vh; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
   
}

.timecode::after {
    content: "Code"; /* Agrega el texto "Code" después de "Time" */
    color: greenyellow; /* Color verde para "Code" */
}

.mundo{
    color: greenyellow;  
    margin-top: -3vh;  
}

.form {
	background: #12141d;
	padding: 40px;
	max-width: 700px;
	margin: 40px auto;
	border-radius: 15px;
	box-shadow: 0 10px 10px 10px rgba(0, 206, 86, 0.3);
	width: 70vh;
	height: 70vh;
}

.tab-group {
	list-style: none;
	padding: 0;
}

.tab-group:after {
	content: "";
	display: table;
	clear: both;
}

.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(160, 179, 176, .25);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	width: 48%;
	text-align: center;
	cursor: pointer;
	transition: 0.5s ease;
}

.tab-group li a:hover {
	background: #00a849;
	color: #000000;
}

.tab-group .active a {
	background: #014710;
	color: #fff;
}

.tab-content > div:last-child {
	display: none;
}

.tab-group{
    border-radius: 15px!important;
    margin: 20px;
}

h1 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin: 0 0 40px;
}

input, textarea {
	font-size: 17px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid greenyellow;
	color: #fff;
	border-radius: 6px;
	transition: border-color 0.25s ease, box-shadow 0.25s ease;
}



.field-wrap {
	position: relative;
	margin-bottom: 40px;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}

.top-row > div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.top-row > div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 15px;
	padding: 15px 0;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.1em;
	background: rgb(43, 70, 2);
    cursor: pointer;
	color: #fff;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.button:hover, .button:focus {
	background: #00a849;
	color: #000000;
}

.button-block {
	display: block;
	width: 100%;
}

.forgot {
	margin-top: -20px;
	text-align: right;
}
 
@media only screen and (max-width: 1024px) {
    

.form {
	background: #12141d;
	padding: 40px;
	max-width: 700px;
	margin: 40px auto;
	border-radius: 15px;
	box-shadow: 0 10px 10px 10px rgba(0, 206, 86, 0.3);
	width: 100vh;
	height: 130vh;
}

.tab-group {
	list-style: none;
	padding: 0;
}

.tab-group:after {
	content: "";
	display: table;
	clear: both;
}

.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(160, 179, 176, .25);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	width: 48%;
	text-align: center;
	cursor: pointer;
	transition: 0.5s ease;
}

.tab-group li a:hover {
	background: #00a849;
	color: #000000;
}

.tab-group .active a {
	background: #014710;
	color: #fff;
}

.tab-content > div:last-child {
	display: none;
}

.tab-group{
    border-radius: 15px!important;
    margin: 20px;
}

/* detras del humo no se ve */

}